body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr minmax(4fr, 100vh);
    grid-template-areas: 
    "nav search"
    "nav dashboard";
    background-color: skyblue;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    grid-area: nav;
    height: vh;
    padding: 0;
}

.search-container {
    grid-area: search;
}
.nav-link {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-link > img {
    height: 14px;
    margin: 0;
}
.nav-link > h3 {
    margin: 0;
    margin-bottom: 1rem;
}


.dashboard-container {
    grid-area: dashboard;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}
.dashboard-subheading {
    grid-column: 1 / span 2;
    margin-top: 0;
}

.projects {
    margin: 1rem;
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project-container {
 margin: 0;
 background-color: aquamarine; 
 border-left: solid 0.5rem red;  
}

.announcements {
    grid-area: announcements;
}
.trending {
    grid-area: trending;
}